@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: black;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 2px solid #1f51ff;
}
.navbar h1 {
  color: #1f51ff;
  text-transform: uppercase;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #1f51ff;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}
.home button {
  background-color: #1f51ff;
  color: white;
  padding: 4px;
  margin: 2px auto;
  text-align: center;
  border-radius: 8px;
  border-style: none;
}
.projects-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #1f51ff;
}
.projects-preview:hover {
  box-shadow: 2px 2px 2px 1px #1f51ff;
}
.projects-preview h2 {
  font-size: 20px;
  color: #1f51ff;
  margin-bottom: 8px;
}
.projects-preview a {
  text-decoration: none;
}
